<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPostServlet</servlet-name>
  	<display-name>AddPostServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddPostServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCategoryServlet</servlet-name>
  	<display-name>AddCategoryServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoryUpdateServlet</servlet-name>
  	<display-name>CategoryUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.CategoryUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoryDeleteServlet</servlet-name>
  	<display-name>CategoryDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.CategoryDeleteServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>SignUpServlet</servlet-name>
  	<display-name>SignUpServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddUserServlet</servlet-name>
  	<display-name>AddUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserUpdateServlet</servlet-name>
  	<display-name>UserUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDeleteServlet</servlet-name>
  	<display-name>UserDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPostServlet</servlet-name>
  	<url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCategoryServlet</servlet-name>
  	<url-pattern>/AddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryUpdateServlet</servlet-name>
  	<url-pattern>/CategoryUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryDeleteServlet</servlet-name>
  	<url-pattern>/CategoryDeleteServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>SignUpServlet</servlet-name>
  	<url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddUserServlet</servlet-name>
  	<url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserUpdateServlet</servlet-name>
  	<url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDeleteServlet</servlet-name>
  	<url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>
